---
import Filters from '~/sections/Filters.astro';
import ResourcesList from '~/sections/ResourcesList.astro';
import ResourcesPagination from '~/sections/ResourcesPagination.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Resources">
	<main class="home">
		<Filters />
		<ResourcesList />
		<ResourcesPagination />
	</main>
</Layout>

<style>
	.home {
		display: flex;
		flex-direction: column;
		height: calc(100% - var(--header-height));
	}
</style>
