---
import Bookmark from '~/icons/bookmark.astro';
---

<div class="bookmarks">
	<button
		id="bookmarks-trigger"
		class="bookmarks__trigger">
		<Bookmark />
	</button>
	<aside
		aria-expanded="false"
		id="bookmarks-aside"
		class="bookmarks__aside">
		<div
			id="bookmarks-container"
			class="bookmarks__aside__content">
		</div>
	</aside>
</div>

<script>
	import { resources, type Resource } from '~/data';
	import { favsStore } from '../store/index.ts';
	import { ResourceCardThin } from './ResourceCardThin';

	const bookmarksTrigger = document.getElementById('bookmarks-trigger');
	const bookmarksAside = document.getElementById('bookmarks-aside');
	const bookmarksContainer = document.getElementById('bookmarks-container');
	const bookmarksList = document.getElementById('bookmarks-container');

	/**
	 * Toggles the bookmarks aside
	 */
	bookmarksTrigger?.addEventListener('click', () => {
		const isExpanded = bookmarksAside?.getAttribute('aria-expanded') === 'true';

		if (isExpanded) {
			bookmarksAside?.setAttribute('aria-expanded', 'false');
		} else {
			bookmarksAside?.setAttribute('aria-expanded', 'true');
		}

		bookmarksTrigger.classList.toggle('bookmarks__trigger--expanded');
	});

	/**
	 * Closes the bookmarks aside when clicking outside of it
	 */
	bookmarksAside?.addEventListener('click', e => {
		const target = e.target;
		if (target instanceof HTMLElement) {
			if (target.id === 'bookmarks-aside') {
				bookmarksAside?.setAttribute('aria-expanded', 'false');
				bookmarksTrigger?.classList.toggle('bookmarks__trigger--expanded');
			}
		}
	});

	/**
	 * BookmarkAsideHeader
	 * @param {Resource[]} resourcesBookmarked
	 */
	const BookmarkAsideHeader = (resourcesBookmarked: Resource[]) => {
		const bookmarksHeader = document.createElement('header');
		const bookmarksCount = document.createElement('h3');
		const bookmarksClearBnt = document.createElement('button');

		bookmarksHeader.classList.add('bookmarks__aside__content__header');
		bookmarksCount.classList.add('bookmarks__aside__content__header__count');
		bookmarksClearBnt.classList.add('bookmarks__aside__content__header__clear');
		bookmarksClearBnt.innerHTML = 'Clear all';

		bookmarksClearBnt.addEventListener('click', () => {
			favsStore.set([]);
		});

		bookmarksCount.innerHTML = `${resourcesBookmarked.length} bookmark${resourcesBookmarked.length > 1 ? 's' : ''}`;

		bookmarksHeader.appendChild(bookmarksCount);
		bookmarksHeader.appendChild(bookmarksClearBnt);

		return bookmarksHeader;
	};

	/**
	 * Updates the bookmarks list when the favsStore changes
	 */
	favsStore.subscribe(favIds => {
		if (!bookmarksTrigger || !bookmarksList || !bookmarksContainer) return;

		/**
		 * Bookmarks counter
		 */

		if (favIds.length > 0) {
			const bookmarksCount = document.getElementById('bookmarks-count');
			const text = `${favIds.length}`;

			if (!bookmarksCount) {
				const bookmarksCount = document.createElement('span');
				bookmarksCount.setAttribute('id', 'bookmarks-count');
				bookmarksCount.classList.add('bookmarks__trigger__count');
				bookmarksCount.textContent = text;

				bookmarksTrigger.appendChild(bookmarksCount);
			} else {
				bookmarksCount.textContent = text;
			}
		} else {
			const bookmarksCount = document.getElementById('bookmarks-count');
			bookmarksCount?.remove();
		}

		const resourcesBookmarked = resources.filter(resource => favIds.includes(resource.id));
		bookmarksContainer.innerHTML = '';

		if (resourcesBookmarked.length > 0) {
			const bookmarkAsideHeader = BookmarkAsideHeader(resourcesBookmarked);
			bookmarksContainer.appendChild(bookmarkAsideHeader);

			const bookmarksList = document.createElement('ul');
			bookmarksList.classList.add('bookmarks__aside__content__list');

			/*
			 * BookmarkItems
			 */
			resourcesBookmarked.forEach(resource => {
				const bookmarkListItem = ResourceCardThin(resource, true);

				bookmarksList.appendChild(bookmarkListItem);
			});

			bookmarksContainer.appendChild(bookmarksList);

			/**
			 * DeleteBookmarkBtn
			 */
			resourcesBookmarked.forEach(resource => {
				const deleteBookmarkBtn = document.getElementById(`remove-bookmark-${resource.id}`);

				deleteBookmarkBtn?.addEventListener('click', () => {
					favsStore.set(favIds.filter(id => id !== resource.id));
				});
			});
		} else {
			/**
			 * EmptyText when no bookmarks
			 */
			const emptyText = document.createElement('h4');
			emptyText.setAttribute('id', 'test');
			emptyText.textContent = 'No bookmarks found';
			emptyText.classList.add('bookmarks__aside__content--empty');
			bookmarksList.appendChild(emptyText);
		}
	});
</script>

<style lang="scss" is:global>
	.bookmarks {
		&__trigger {
			position: relative;
			border: none;
			background-color: transparent;
			color: var(--light-100);
			cursor: pointer;
			font-size: var(--font-sm);
			transition: all 0.2s ease;

			&--expanded {
				color: var(--accent-blue-light);
			}

			&__count {
				position: absolute;
				width: 1rem;
				height: 1rem;
				display: grid;
				place-items: center;
				top: -0.2rem;
				right: 0rem;
				background-color: var(--accent-green);
				border-radius: 100%;
				color: var(--dark-100);
				font-weight: bold;
				font-size: var(--font-xs);
			}
		}

		&__trigger:hover {
			color: var(--accent-blue-light);
		}

		&__aside {
			position: absolute;
			top: 4rem;
			right: 0;
			width: 100vw;
			height: 100vh;
			z-index: 100;
			transition: opacity 0.3s ease;
			pointer-events: none;
			opacity: 0;
			background-color: rgba(0, 0, 0, 0.5);
			backdrop-filter: blur(2px);

			&__content {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				position: absolute;
				overflow-y: scroll;
				z-index: 1000;
				top: 0;
				right: -30rem;
				padding: 1rem;
				margin-left: auto;
				background-color: var(--light-200);
				width: 100vw;
				max-width: 30rem;
				height: 100vh;
				box-sizing: border-box;
				transition: all 0.3s ease;

				&--empty {
					margin-top: 1rem;
					font-size: var(--font-sm);
					color: var(--dark-300);
				}

				&__header {
					box-sizing: border-box;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;

					&__count {
						margin-right: auto;
						font-size: var(--font-sm);
					}

					&__clear {
						cursor: pointer;
						border: none;
						border: 1px solid var(--dark-300);
						padding: 0.5rem 1rem;
						background-color: transparent;
						font-size: var(--font-sm);
						color: var(--dark-300);
						transition: all 0.2s ease;
					}

					&__clear:hover {
						background-color: var(--accent-blue);
						color: var(--light-100);
					}
				}

				&__list {
					display: flex;
					flex-direction: column;
					gap: 0.2rem;
					list-style: none;
					padding: 0;
					margin: 0;
					width: 100%;
				}
			}
		}

		&__aside[aria-expanded='true'] {
			opacity: 1;
			pointer-events: painted;
		}

		&__aside[aria-expanded='true'] &__aside__content {
			right: 0;
		}
	}
</style>
