---
import ArrowLeft from '~/icons/arrow-left.astro';
import ArrowRight from '~/icons/arrow-right.astro';
---

<section class="pagination">
	<button
		class="pagination__btn"
		id="previous-btn">
		<span class="pagination__btn__icon"><ArrowLeft /></span>
		Previous
	</button>
	<button
		class="pagination__btn"
		id="next-btn">
		Next
		<span class="pagination__btn__icon"><ArrowRight /></span>
	</button>
</section>

<script>
	import { filtersStore } from '../store/index';

	let currentPage = 0;

	const previousBtn = document.getElementById('previous-btn');
	const nextBtn = document.getElementById('next-btn');

	/*
	 * Toggle pagination buttons state
	 */
	filtersStore.subscribe(state => {
		const { page, moreItems } = state;

		currentPage = page;

		const isFirstPageAndNoMoreItems = currentPage === 0 && !moreItems;
		const isFirsPageAndMoreItems = currentPage === 0 && moreItems;
		const isLastPageAndNoMoreItems = currentPage > 0 && !moreItems;
		const isLastPageAndMoreItems = currentPage > 0 && moreItems;

		if (isFirstPageAndNoMoreItems) {
			previousBtn?.setAttribute('disabled', 'true');
			nextBtn?.setAttribute('disabled', 'true');
		} else if (isFirsPageAndMoreItems) {
			previousBtn?.setAttribute('disabled', 'true');
			nextBtn?.removeAttribute('disabled');
		} else if (isLastPageAndNoMoreItems) {
			previousBtn?.removeAttribute('disabled');
			nextBtn?.setAttribute('disabled', 'true');
		} else if (isLastPageAndMoreItems) {
			previousBtn?.removeAttribute('disabled');
			nextBtn?.removeAttribute('disabled');
		}
	});

	/**
	 * Previous page button event
	 */
	previousBtn?.addEventListener('click', () => {
		const previousPage = currentPage - 1;
		filtersStore.set({
			...filtersStore.get(),
			page: previousPage,
		});
	});

	/**
	 * Next page button event
	 */
	nextBtn?.addEventListener('click', () => {
		const nextPage = currentPage + 1;
		filtersStore.set({ ...filtersStore.get(), page: nextPage });
	});
</script>

<style lang="scss" scoped>
	.pagination {
		width: 100%;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 3rem;
		margin-top: auto;

		&__btn {
			display: flex;
			align-items: center;
			gap: 1rem;
			padding: 0.3rem 1rem;
			background-color: var(--light-100);
			border: 1px solid var(--light-400);

			transition: all 0.2s ease-in-out;

			&__icon {
				display: grid;
				place-items: center;
				width: 1rem;
			}
		}

		&__btn:not(:disabled) {
			cursor: pointer;
		}

		&__btn:not(:disabled):hover {
			background-color: var(--accent-blue);
			color: var(--light-100);
		}
	}

	@media (max-width: 1100px) {
		.pagination {
			padding: 1rem;
		}
	}
</style>
